
% rebase('osnova.html', naslov='Prijava')
<form action="{{url('prijava_post')}}" method="post" class="row-g3 mx-2">
        <div class="col-4">
            <label for="uporabnisko_ime" class="form-label my-3">Uporabniško ime:</label>
            <input id="uporabnisko_ime" name="uporabnisko_ime" type="text" class="form-control" />
        </div>
        <div class="col-4">
            <label for="geslo" class="form-label my-3">Geslo:</label>
            <input id="geslo" name="geslo" type="password" class="form-control" />
        </div>
        <div class="col-12 my-3 d-flex justify-content-start">
            <button class="btn btn-outline-dark" type="submit">Prijava</button>
        </div>
