<form action="{{url('registracija_post')}}" method="post" class="row-g3 mx-2">
    <div class="col-4">
        <label for="name" class="form-label my-3">Name:</label>
        <input id="name" name="name" type="text" class="form-control" />
    </div>
    <div class="col-4">
        <label for="username" class="form-label my-3">Username:</label>
        <input id="username" name="username" type="text" class="form-control" />
    </div>
    <div class="col-4">
        <label for="password" class="form-label my-3">Password:</label>
        <input id="password" name="password" type="password" class="form-control" />
    </div>
    <div class="col-4">
        <label for="patronus" class="form-label my-3">Patronus:</label>
        <input id="patronus" name="patronus" type="text" class="form-control" />
    </div>
    <div class="col-4">
        <label for="house_id" class="form-label my-3">House:</label>
        <input id="house_id" name="house_id" type="text" class="form-control" />
    </div>
    <div class="col-12 my-3 d-flex justify-content-start">
        <button class="btn btn-outline-dark" type="submit">Next</button>
    </div>
    
